* {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 1px solid red;
}

:root {
  --green: darkslategray;
  --white: whitesmoke;
}

/* nav */
nav {
  background-color: var(--green);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}